<div class="bg-dark rounded p-3 mb-3 text-light shadow-sm">
  <div class="d-flex align-items-start">
    <img src="{{ comment.name.profile.img.url }}" class="rounded-circle me-3" width="40" height="40" style="object-fit: cover;">
    <div class="w-100">
      <strong class="border-bottom">{{ comment.name }}</strong>
      <p style="color: #ccc;">{{ comment.body }}</p>
      <small style="color: #ccc;">
        <i class="bi bi-clock me-1"></i>{{ comment.created|date:"d E Y \\a\\t H:i" }}
      </small>
    </div>
  </div>
</div>
